header {
    z-index: 1030;
    position: fixed;
    height: 54px;
    width: 100%;
    background: white;
    justify-content: space-between;
    display: inline-flex;
}

#headerRoot p {
    background: white;
    color: black;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#headerRoot a {
    color: black;
    text-decoration: none;
}

#headerRoot a:hover {
    color: #000000;
    cursor: pointer;
}

#nav-bar_left {
    display: flex;
    padding-left: 10%;
}

#nav-bar_right {
    display: flex;
    padding-right: 10%;
}

.loginBtn {
    margin: 10px;
    width: 100px;
    background: #00C5CD;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
}

.loginBtn:hover {
    opacity: 0.7;
    cursor: pointer;
}