header {
    z-index: 1030;
    position: fixed;
    height: 54px;
    width: 100%;
    background: white;
    justify-content: space-between;
    display: inline-flex;
}

.loginBtn{
    margin: 10px;
    width: 100px;
    background: #00C5CD;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
}

.loginBtn:hover{
    opacity: 0.7;
    cursor: pointer;
}

#nav-bar_left {
    display: flex;
    padding-left: 280px;
}

#nav-bar_right {
    display: flex;
    padding-right: 280px;
}

#nav-bar_right p {
    padding-left: 50px;
}